name: Deploy Vue js app To github pages
on:
  push:
      branches: [main]
      paths-ignore: [README.md,".github/workflows/*"]
  workflow_dispatch:

jobs: 
    test:
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout Repository Code
              uses: actions/checkout@v4 
            - name: Setup nodejs & install Dependencies
              uses: ./.github/actions/setupnode
              with: 
                node-version: 20
            - name: Run unit tests
              run: npm run test:unit
    build:
        needs: [test]
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout Repository Code
              uses: actions/checkout@v4 
            - name: Setup nodejs & install Dependencies
              uses: ./.github/actions/setupnode
            - name: Build the project
              run: npm run build
            - name: Upload dist artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  name: github-pages
                  path: dist
    # Deploy job
    deploy:
      # Specify runner 
      runs-on: ubuntu-latest
      # Add a dependency to the build job
      needs: build

      # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
      permissions:
        pages: write      # to deploy to Pages
        id-token: write   # to verify the deployment originates from an appropriate source

      # Deploy to the github-pages environment
      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

      # Specify deployment step
      steps:
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action
          with:
            token: ${{ github.token }}

              
          
        